body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    padding: 2rem;
}

h1,h2 {
    color: #051c35;
}

header{
    display:flex;
    justify-content: space-between;
}

nav menu{
    list-style-type: none;
    padding-left: 0;
}